*,
::before,
::after {
  box-sizing: border-box;
}
:root {
  --first-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;

  --body-font: "Roboto", sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(0, 0, 0, 1);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2 {
  font-weight: 600;
  text-align: center;
}
h1 {
  font-size: 40px;
  line-height: 43.57px;
}
h2 {
  font-size: 20px;
  line-height: 24.2px;
}
input[type="file"] {
  display: none;
}
button {
  cursor: pointer;
}
input[type="date"] {
  background-color: #1a73e8;
  padding: 10px;
  font-family: monospace;
  color: #fff;
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 9px;
}
::-webkit-calender-picker-indicator {
  background-color: #fff;
  padding: 5px;
  cursor: pointer;
  border-radius: 4px;
}
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: block;
}
